<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  </head>
  <body>
    <div class='container-fluid h-100 wrapper'>
      <div class='row h-100'>

        <!-- SIDEBAR -->
        <aside class='col-sm-0 col-md-2 p-3 mb-5 sidebar'>
            <p class='toc-link'><a href='/'>~ cera</a></span>

            {{ range $index, $section := .Site.Sections.ByWeight }}
            <p class='toc-link'>{{ .Title }}</span>
              <ul class='toc-list list-group flex-md-column flex-row navbar-nav w-100 justify-content-between'>
              {{ range .RegularPages.ByWeight }}
              <li class='list-group-item'>
                <p><a href='{{ .RelPermalink }}'>{{ .Title }}</a></p>
                <p class='toc-link-date'>{{ dateFormat "2006-01-02" .Date }}</p>
              </li>
              {{ end }}
              </ul>
            {{ end }}
        </aside>

        <div class='col col-sm-12 col-md-10 shadow p-3 bg-white rounded'>
        {{ block "main" . }}
          <!-- Content goes here -->
        {{ end }}
        </div>
      </div>
    </div>

    <link rel='stylesheet' href='/assets/app.css'>
    <link
      rel='stylesheet' type='text/css'
      href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='/assets/app.bundle.js' /></script>
  </body>
</html>
