<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  </head>
  <body>
    <div class='container-sm'>
        <div class="col-12 col-md-9 col-xl-8 bd-content">
        <!-- Content goes here -->
        {{ block "main" . }}
        </div>
      </div>
      {{ end }}
      </div>
    </div>

    <link rel='stylesheet' href='/assets/app.css'>
    <link
      rel='stylesheet' type='text/css'
      href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='/assets/app.bundle.js' /></script>
  </body>
</html>
