<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col p-3 mb-5'>
          <p class='toc-link'><a href='/'>~ cera</a></span>
          <p class='toc-link'>reading</span>
          <ul class='toc-list list-group'>
          {{ range where .Site.RegularPages "Section" "reading" }}
            <li class='list-group-item'>
              <p><a href='{{ .RelPermalink }}'>{{ .Title }}</a></p>
              <p class='toc-link-date'>{{ dateFormat "2006-01-02" .Date }}</p>
            </li>
          {{ end }}
          </ul>
        </div>
        <div class='col-10 shadow p-3 mb-5 bg-white rounded'>
        <!-- Content goes here -->
        {{ block "main" . }}
        {{ end }}
        </div>
      </div>
    </div>

    <link rel='stylesheet' href='/assets/app.css'>
    <link
      rel='stylesheet' type='text/css'
      href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='/assets/app.bundle.js' /></script>
  </body>
</html>
