{{ define "title" }}
  {{ .Title }}
{{ end }}
{{ define "main" }}
<header>
  {{ partial "header/under-construction.html" . }}
</header>

<article class='content'>
  <img
  src='/img/profile-pic-kitchen-sass-2020-07.jpg'
  class='home-img-profile img-thumbnail rounded float-right'
  alt='photo of me'
  >
  <h1>{{ .Title }}</h1>

  <p>
  {{ range (index $.Site.Params "social") }}
    <a class='home-social-link' href='{{ index . "href" }}'><i class='fa fa-{{ index . "icon" }}'></i></a>
  {{ end }}
  </p>

  {{ .Content }}
</article>


{{ end }}
