@(machines: List[GoogleComputeMachine])

@main("cera - console") {
  <table>
    <tr>
      <th>name</th>
      <th>instance ID</th>
      <th>status</th>
      <th>actions</th>
      <th>labels</th>
    </tr>
    @for(machine <- machines) {
      <tr>
        <td>@machine.name</td>
        <td>@machine.instanceId</td>
        <td>@machine.status</td>
        <td>
          @for(action <- machine.getAvailableActions) {
            <span>@action</span>
          }
        </td>
        <td>
          @for((k, v) <- machine.labels) {
            <span>@k:@v</span>
          }
        </td>
      </tr>
    }
  </table>
}
