@(contact: models.ContactInfo)

@main("cera") {
  <h1>cera</h1>

  <p>software engineer | amateur ecologist | revolutionary socialist | synth maker | trans woman</p>

  <p>Hobart, Tasmania</p>
  <div class='contact'>
    <i class='fa fa-transgender' aria-hidden='true'></i>
    <a href='mailto:@contact.emailAddress'><i class='fa fa-envelope-o' aria-hidden='true'></i></a>
    <a href='@contact.github'><i class='fa fa-github' aria-hidden='true'></i></a>
    <a href='@contact.instagram'><i class='fa fa-instagram' aria-hidden='true'></i></a>
    <a href='@contact.spotify'><i class='fa fa-spotify' aria-hidden='true'></i></a>
  </div>
}
